.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
#myCarousel {
	height: 84vh;
}
#sinestesia_indicators{
	bottom: 150px;
}

.touch-carousel .carousel-inner>.item {
	height: 77vh;
}

.carousel-control {
	top:8%;
    height: 70%;
}