.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
#myCarousel {
	height: 84vh;
}

.touch-carousel .carousel-inner>.item {
	height: 77vh;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner {
	height:100%;
	margin:102px auto;
}

.carousel-control {
	margin:102px auto;
}

.carousel-image {
	style="height:100%;
	display:flex;
	align:items:center;
	justify-content:center;
}