<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinestesia Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/app.css">
	<link rel="stylesheet" href="styles/animations.css">
    <!-- endbuild -->

	<!-- CSS's adicionais -->
	<link ng-if="$state.includes('user')" rel="stylesheet" href="styles/bootstrap-touch-carousel.css"> <!-- adiciona as divs caso o usuario esteja logado -->
	<link ng-if="$state.includes('user')" rel="stylesheet" href="styles/footer_sinestesia.css">
	<link ng-if="$state.includes('user')" rel="stylesheet" href="styles/carousel.css">
	<!-- fim CSS adicionais -->
	
  </head>
  <body ng-app="webAppV2App" ng-controller="NavCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- USUARIO DESLOGADO -->
	<div ng-if="$state.includes('anon')" ng-include="'/views/header_deslogado.html'"></div>
	<br><br><div ng-if="$state.includes('anon')" class="container" ui-view></div>
	<div ng-if="$state.includes('anon')" ng-include="'/views/footer_deslogado.html'"></div>
	
	<!-- USUARIO LOGADO -->
	<header ng-if="$state.includes('user')" ng-include="'/views/header.html'"></header>
	<div class="container-fluid" ng-if="$state.includes('user')" id="sinestesia_content"><div ui-view></div></div>
	<footer ng-if="$state.includes('user')" class="footer" ng-include="'/views/footer.html'"></footer>
	
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

	<!-- Dependências do Adicionais -->
	<script type="text/javascript" src="scripts/libs/angular-animate.js"></script>
	<script type="text/javascript" src="scripts/libs/angular-resource.js"></script>
	<script type="text/javascript" src="scripts/libs/angular-route.min.js"></script>
	<script type="text/javascript" src="scripts/libs/angular-ui-router.js"></script>
	<script type="text/javascript" src="scripts/libs/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="scripts/libs/bootstrap-touch-carousel.js"></script>
	<!---->
	
	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/routes.js"></script>
	<script src="scripts/controllers/HomeCtrl.js"></script>
	<script src="scripts/controllers/LoginCtrl.js"></script>
	<script src="scripts/controllers/RegisterCtrl.js"></script>
	<script src="scripts/controllers/NavCtrl.js"></script>
	<script src="scripts/controllers/AboutCtrl.js"></script>
	<script src="scripts/controllers/LivroCtrl.js"></script>
	<script src="scripts/controllers/DescricaoCtrl.js"></script>
	<script src="scripts/controllers/RevisaoCtrl.js"></script>
	<script src="scripts/services/accessLevels.js"></script>
	<script src="scripts/services/auth.js"></script>
	<script src="scripts/services/currentUser.js"></script>
	<script src="scripts/services/localStorage.js"></script>
	<script src="scripts/services/listaLivro.js"></script>
	<script src="scripts/services/listaImagem.js"></script>
	<script src="scripts/services/mostraImagem.js"></script>
	<script src="scripts/services/enviaDescricao.js"></script>
	<script src="scripts/services/flash.js"></script>
	<script src="scripts/services/preloader.js"></script>
	<!-- endbuild -->
</body>
</html>
