<br><div class="container">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Sinestesia é um aplicativo criado pelos alunos do curso de engenharia de computação da EPUSP 
	que possui como objetivo possibilitar o acesso de deficientes visuais a livros didáticos usados 
	em cursos superiores. O acesso seria garantido através de descrições de imagens feitas pelos 
	próprios alunos não deficientes que pertencem à universidade, estas descrições são disponibilizadas 
	para os publicadores que a partir delas montam os livros em formato DAISY para que possam ser 
	utilizados pelos deficientes visuais.
  </p>
  <!--<video width="400" controls>
    <source src="https://www.youtube.com/watch?v=k8uGFoMpS6M" type="video/mp4">
  </video>-->
  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/k8uGFoMpS6M"></iframe>
</div>
