<div ng-show="sucesso_ban" class="alert alert-success">Usuário Banido com sucesso!</div>
<div ng-show="sucesso_update" class="alert alert-success">Usuário Atualizado com sucesso!</div>
<div ng-show="sucesso_delete" class="alert alert-success">Usuário Deletado com sucesso!</div>
<div ng-show="falha" class="alert alert-danger">Ocorreu algum erro ao tentar manipular o usuário.<br></div>

<div class="container">
  <div class="row" role="search-row">
	<div class="col-xs-12 col-sm-5 col-md-5">
	  <h3>Lista de Usuários</h3>
	</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Nome</th>
			<th>Login</th>
            <th>NUSP</th>
            <th>Curso</th>
            <th>Tipo</th>
            <th>Pontos</th>
            <th>Editar</th>
            <th>Banir</th>
			<th>Deletar</th>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in usuarios" id="{{usuario.id}}">
              <td>{{usuario.nome}}</td>
			  <td>{{usuario.login}}</td>
              <td>{{usuario.cpf}}</td>
              <td>{{usuario.curso.nome}}</td>
			  <input type="hidden" value="{{usuario.curso.id}}" />
              <td>{{usuario.tipo}}</td>
              <td>{{usuario.pontuacao}}</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
				  <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="fillEdit(usuario.id);">
				  	<span class="glyphicon glyphicon-pencil"></span>
				  </button>
				</p>
              </td>
              <td>
                <p ng-if="usuario.tipo != 'Banido'" data-placement="top" data-toggle="tooltip" title="Ban">
				  <button class="btn btn-danger btn-xs" data-title="Ban" data-toggle="modal" data-target="#ban" ng-click="fillBan(usuario.id);">
				    <span class="glyphicon glyphicon-ban-circle"></span>
				  </button>
				</p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
				  <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="fillDelete(usuario.id);">
				    <span class="glyphicon glyphicon-trash"></span>
				  </button>
				</p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Editar Usuário</h4>
      </div>
	  <form name="myForm" role="form" id="myForm" ng-submit="update(updateUser);">
		  <div class="modal-body">
		  <input type="hidden" ng-model="updateUser.id" />
			<div class="form-group" ng-class="{ 'has-error': updateUser.nome.$dirty && updateUser.nome.$error.required }">
			  <label for="nome">Nome</label>
			  <input type="text" name="nome" id="user_nome" class="form-control" ng-model="updateUser.nome" required />
			  <span ng-show="updateUser.nome.$dirty && updateUser.nome.$error.required" class="help-block">Campo obrigatório.</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': updateUser.login.$dirty && updateUser.login.$error.required }">
			  <label for="login">Login</label>
			  <input type="text" name="login" id="user_login" class="form-control" ng-model="updateUser.login" required />
			  <span ng-show="updateUser.login.$dirty && updateUser.login.$error.required" class="help-block">Campo obrigatório.</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': myForm.nusp.$dirty && myForm.nusp.$error.required }">
              <label for="nusp">Nusp</label>
              <input type="number" name="nusp" class="form-control" ng-model="updateUser.cpf" id="user_cpf" required />
              <span ng-show="updateUser.nusp.$dirty && updateUser.nusp.$error.required" class="help-block">Campo obrigatório.</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': updateUser.course.$dirty && updateUser.course.$error.required }">
				<label for="course">Curso</label>
				<select id="user_curso" name="course" ng-model="updateUser.curso" class="form-control" required>
				  <option value="">Selecione um Curso</option>
				  <option ng-repeat="curso in cursos" value="{{curso.id}}">{{curso.nome}}</option>
				</select>
				<span ng-show="updateUser.course.$dirty && updateUser.course.$error.required" class="help-block">Campo obrigatório.</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': updateUser.tipo.$dirty && updateUser.tipo.$error.required }">
			  <label for="tipo">Tipo</label>
			  <select name="tipo" id="user_tipo" ng-model="updateUser.tipo" class="form-control" required>
			    <option value="">Selecione um Tipo</option>
				<option value="Descritor">Descritor</option>
				<option value="DescritorRevisor">DescritorRevisor</option>
				<option value="Revisor">Revisor</option>
				<option value="Administrador">Administrador</option>
				<option value="Publicador">Publicador</option>
				<option value="Banido">Banido</option>
			  </select>
			  <span ng-show="updateUser.tipo.$dirty && updateUser.tipo.$error.required" class="help-block">Campo obrigatório.</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': updateUser.nusp.$dirty && updateUser.nusp.$error.required }">
              <label for="pontuacao">Pontuação</label>
              <input type="number" name="pontuacao" class="form-control" ng-model="updateUser.pontuacao" id="user_pontuacao" required />
              <span ng-show="updateUser.nusp.$dirty && updateUser.nusp.$error.required" class="help-block">Campo obrigatório.</span>
			</div>
		  </div>
		  <div class="modal-footer ">
            <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
          </div>
	  </form>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<div class="modal fade" id="ban" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Banir usuário</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza que deseja banir esse usuário?</div>
      </div>
	  <input type="hidden" ng-model="banUser" id="ban_user_id" value="" />
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ng-click="ban(banUser);"><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Não</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Deletar usuário</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza que deseja deletar esse usuário? Essa ação não tem volta.</div>
      </div>
	  <input type="hidden" ng-model="deleteUser" id="delete_user_id" value="" />
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ng-click="delete(deleteUser);"><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Não</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>