<br><div class="container" align="center">
	<img ng-show="loading" id="center_loader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	<div class="input-group">
	  <form name="myForm" role="form" id="myForm" ng-submit="search(formData);">
		  <div class="form-group" ng-class="{ 'has-error': myForm.name.$dirty && myForm.name.$error.required }" ng-if="loggedUser().tipo === 'Revisor'|| loggedUser().tipo === 'DescritorRevisor'">
			  <div>
				  <input type="radio" checked="checked" name="options" id="option1" value="descrever" click-when-loaded ng-model="$parent.formData.radio"> Descrever
				  <input type="radio" name="options" id="option2" value="revisar" ng-model="$parent.formData.radio"> Revisar
			  </div>
		  </div>
		  <div class="input-group" ng-class="{ 'has-error': myForm.name.$dirty && myForm.name.$error.required }">
			<input type="text" name="query" ng-model="formData.query" class="form-control" placeholder="Buscar livro..." required />
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		  </div>
	  </form>
	</div>
	<br>
	<div class="row" ng-show="!loading">
		<div class="list-group" ng-repeat="livro in livrosDesc">
			<a class="list-group-item" ui-sref="user.desclivro({ livro_id: livro.id })">
				{{livro.titulo}}
			</a>
		</div>
		<div class="list-group" ng-repeat="livro in livrosRev">
			<a class="list-group-item" ui-sref="revisor.revlivro({ livro_id: livro.id })">
				{{livro.titulo}}
			</a>
		</div>
	</div>
</div>