<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="nav footer_nav">
			<li ng-click="$state.go('admin.lista_livro')" ng-class="{active_footer: $state.includes('admin.lista_livro')}">
				<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
				<span class="glyphicon-class">Livros</span>
			</li>
			<li ng-click="$state.go('admin.adicionar_usuarios')" ng-class="{active_footer: $state.includes('admin.adicionar_usuarios')}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span class="glyphicon-class">Adicionar</span>
			</li>
			<li ng-click="$state.go('admin.gerenciar_usuarios')" ng-class="{active_footer: $state.includes('admin.gerenciar_usuarios')}">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				<span class="glyphicon-class">Gerenciar</span>
				
			</li>
			<li ng-click="$state.go('admin.buscar')" ng-class="{active_footer: $state.includes('admin.buscar')}">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span class="glyphicon-class">Buscar</span>
			</li>
		</ul>
	</div>
</nav>