<div class="container">
  <div class="row">
  </div>
  <div class="row">
  	<p>
  		Confira abaixo algumas dicas de como fazer uma descrição digna de ser colocada aqui!
  		<ul>
			<li>Seja sucinto;</li>
			<li>Foco nas informações, você não precisa ser poético;</li>
			<li>Dê prioridade às informações mais importantes;</li>
			<li>Cheque a ortografia e evite abreviações, leitores de texto não conseguem identificar estas paavras.</li>
		</ul>
		Veja agora algumas descrições modelo:
  	</p>	
  </div>
  <div class="row">
	<img ng-src="{{uri}}/images/hall_of_fame/exemplo1.jpg" class="img-responsive img-rounded center"/>
	<p class="subtitle"> Fonte: Rejane Ferreira Machado Pires,Patrícia Neves Raposo e Gerson de Souza Mól. ADAPTATION OF CHEMISTRY TEXTBOOK FOR IMPAIRED VISUALLY STUDENTS, Novembro 2007. </p> 
  </div>
  <div class="row">
	<div class="form-group">
	 <label for="desc1">Descrição Exemplo 1</label>
	  <textarea class="form-control" name="desc1" rows="6" disabled>O gráfico descreve várias doenças no eixo x e no eixo y o percentual das doenças causadas pelo tabagismo.

	Câncer do pulmão: 85%
	Enfisema e bronquite: 80%
	Outros cânceres: 25%
	Angina/ infarto do miocárdio: 20%
	Derrame cerebral: 20%
	  </textarea>
	</div>
  </div>

  <div class="row">
	<img ng-src="{{uri}}/images/hall_of_fame/exemplo2.jpg" class="img-responsive img-rounded center"/>
  </div>
  <div class="row">
	<div class="form-group">
	 <label for="desc1">Descrição Exemplo 2</label>
	  <textarea class="form-control" name="desc1" rows="6" disabled>Praia com o sol ao fundo refletindo no mar e com algumas nuvens no céu.
	  </textarea>
	</div>
  </div>

  <div class="row">
	<img ng-src="{{uri}}/images/hall_of_fame/exemplo3.jpg" class="img-responsive img-rounded center"/>
	<p class="subtitle"> Fonte: Geoff Freed and Madeleine Rothberg. The Beyond the Text Project. April, 2006. </p>
  </div>
  <div class="row">
	<div class="form-group">
	 <label for="desc1">Descrição Exemplo 3</label>
	  <textarea class="form-control" name="desc1" rows="6" disabled>Equação matemática: v igual delta x dividido por delta t, igual a cem metros divido por 11 segundos, igual a nove ponto um metros por segundo.
	  </textarea>
	</div>
  </div>
</div>