<div ng-if="flash.hasAlert()" class="alert alert-{{flash.getType()}}">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{flash.getMessage()}}
</div>
<div ng-switch="isLoading">
	<p ng-switch-when="true">
		<img src="styles/ajax-loader.gif" style="position: absolute; top: 40%;right: 45.5%;"/>
	</p>
	<div ng-switch-when="false" ng-switch="isSuccessful">
		<div ng-switch-when="true" id="myCarousel" carousel-preloader class="carousel slide" data-ride="carousel">
			<ol id="sinestesia_indicators" class="carousel-indicators">
				<li ng-repeat="livro in livros" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item" ng-repeat="livro in livros">
					<a ui-sref="user.revlivro({ livro_id: livro.id })">
						<img ng-src="{{preloaded_images[$index]}}" style="margin:auto;" alt="{{livro.titulo}}">
					</a>
				</div>
			</div>
		</div>
		<p ng-switch-when="false">
			<strong>Oops</strong>: One of your images failed to load :(
		</p>
	</div>
</div>