<div id="myCarousel" descricao-carousel class="carousel slide" data-ride="carousel">
	<ol id="sinestesia_indicators" class="carousel-indicators">
		<li ng-repeat="livro in livros" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item" ng-repeat="livro in livros">
			<img ng-src="http://localhost:1337/images/{{livro.id}}.jpg" style="margin:auto;">
			<!--<div class="carousel-caption" style="display:block;">
				<h4>Slide {{livro.titulo}}</h4>
			</div>-->
		</div>
	</div>
</div>