
<div class="container">
	<form id="myLogin" ng-submit="submit(userLogin)">
		<h2 class="form-signin-heading">Login</h2>
		
		<div ng-if="flash.hasAlert()" class="alert alert-{{flash.getType()}}">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{flash.getMessage()}}
		</div>
		<div ng-show="falha" class="alert alert-danger">Usuário ou senha incorretos.<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
		<div ng-show="banido" class="alert alert-danger">Você foi banido do sistema Sinestesia.<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
		<div ng-show="bloqueado" class="alert alert-danger">Você foi bloqueado do sistema Sinestesia.<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
		
		<label for="username" >Nome de usuário</label><br>
		<input type="text" id="username" class="form-control" ng-model="userLogin.username"><br>

		<label for="password" >Senha</label><br>
		<input type="password" id="password" class="form-control" ng-model="userLogin.password"><br><br>

		<div id="lowerLogButs">
			<button type="submit" class="btn btn-primary button-top">Login</button>
			<button type="button" class="btn btn-primary button-top" ng-click="register()">Registrar</button>
			<img ng-show="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		</div>
	</form>
</div>