<div class="container" ng-show="!showForm">
  <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >  
	  <div class="panel">
		<div class="panel-body">
		  <div class="row">
			<div class="col-md-3 col-lg-3 " align="center"> 
				<img src={{end}} class="img-circle img-responsive"> 
			</div>
			<div class=" col-md-9 col-lg-9 "> 
			  <table class="table table-user-information">
				<tbody>
				  <tr>
					<td>Nome:</td>
					<td>{{nome}}</td>
				  </tr>
				  <tr>
					<td>Nusp:</td>
					<td>{{nusp}}</td>
				  </tr>
				  <tr>
					<td>Curso:</td>
					<td>{{curso}}</td>
				  </tr>
				  <tr ng-if="isDescritor">
					<td>{{barText}}</td>
					<td>
						<uib-progressbar animate="false" max="limiar" value="pontos" type ={{color}}>
							<b style = "color:#000000">{{pontos}}/{{limiar}}</b>
						</uib-progressbar>
					</td>					  
				  </tr> 
				</tbody>
			  </table>
			  <div ng-if="isDescritor"> {{aviso}}</div>
			  <br>
			  <div align="center"><a ng-click="showForm = true" class="btn btn-primary">Mudar Senha</a></div>
			</div>
		  </div>
		</div>
		
	  </div>
	</div>
  </div>
</div>
<form ng-show="showForm" name="changeForm" id="changeForm" novalidate>
    <div ng-show="changeSucesso" class="alert alert-success">Sua senha foi alterada com sucesso!</div>
    <div ng-show="changeFalha" class="alert alert-danger">Senha anterior incorreta<br></div>

    <div class="form-group" ng-class="{ 'has-error': changeForm.oldPassword.$dirty && changeForm.oldPassword.$error.required }">
        <label for="oldPassword">Senha antiga</label>
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" ng-model="oldPassword" required />
        <span ng-show="changeForm.oldPassword.$dirty && changeForm.oldPassword.$error.required" class="help-block">Campo obrigatório.</span>
    </div>

    <div class="form-group" ng-class="{ 'has-error': changeForm.newPassword.$dirty && changeForm.newPassword.$error.required }">
        <label for="newPassword">Senha nova</label>
        <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="newPassword" required />
        <span ng-show="changeForm.newPassword.$dirty && changeForm.newPassword.$error.required" class="help-block">Campo obrigatório.</span>
    </div>

    <button ng-disabled="changeForm.$invalid || changeDataLoading " class="btn btn-primary" ng-click="changePassword(oldPassword, newPassword)" >Enviar</button>
    <img ng-if="changeDataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button ng-click="showForm = false" class="btn btn-primary">Cancelar</button>
</form>