<div class="container">
  <h3>Tutorial</h3>
  Assita o vídeo para aprender como utilizar o sistama Sinestesia.

  <section class="ng-video-container">

    <!-- Base Directive -->
    <section class="video" ng-video ng-model="interface">

      <section vi-controls class="controls">
        <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
        <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
      </section>

    </section>

  </section>

</div>

